face_alignment==1.4.1
imageio==2.31.5
imageio-ffmpeg==0.4.9
librosa>=0.10.1 #LibRosa requires numba and so then numpy, so don't specify requirements.
resampy==0.4.2
pydub==0.25.1 
scipy==1.11.3
kornia==0.7.0
tqdm
yacs==0.1.8
pyyaml  
joblib==1.3.2
scikit-image==0.21.0
basicsr==1.4.2
facexlib==0.3.0
gradio
gfpgan
av
safetensors
